     <div class="container">
          <div class="row">

              <div class="col-md-4"></div>
            
              <div class="col-md-4">
          <h3></h3>
          <div class="card" id = "chat">
            <div class="card-body" align ="left">
		
                <strong> Enter verification code to confirm your account </strong><br><br>
                <form>
		<a href = "" ng-click = "resendVerification()"> resend verification code</a>
                  <div class="form-group">
                    <label for="code1">Code</label>
                    <input type="code1" ng-model = "vcode" class="form-control" id="pwd">
                  </div>
                  <div class="form-group">
                  </div>
                  <button type="button"  ng-click = "Confirm()" class="btn btn-primary"> Confirm </button>
		  <button type="button" ng-click = "GoBack()" class="btn btn-primary">Cancel</button>
                </form>
    
            </div> 
          </div>
        </div>
        <div class="col-md-4"></div>
</div><br><br><br><br><br><br>
    </div>