<div class="container">
          <div class="row">

      <div class = "col-lg-7">
      <div class = "card" id = "chat">
        <div class = "card-body">
        <h3> Create account for Progress Control System </h3>
       
                  <div class="form-group">
                    <label for="name">name</label>
                    <input type="text" class="form-control" name = "nam1" id="name" ng-model="name" style="font-size: 18pt; width:250px;" required> 
                  </div>
                  <div class="form-group">
                          <label for="Surname">Surname</label>
                          <input type="text" class="form-control" name = "sur1" id="sur" ng-model = "surname" style="font-size: 18pt; width:250px;" required>
                  </div>
                  <div class="form-group">
                          <label for="bdate"> Birth Date </label>
                          <input type="date" class="form-control" name = "bdate" id="bdate1" ng-model = "birthdate" style="font-size: 18pt;  height: 35px; width:250px;" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" required>
                    </div>
                    <div class="form-group">
                        <label for="startdate1"> Start Date </label>
                        <input type="date" class="form-control" name = "startdate1" id="startdate1" ng-model = "startdate" style="font-size: 18pt;  height: 35px; width:250px;" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" required>
                  </div>
                  <div class="form-group">
                      <label for="idnum"> ID Number </label>
                      <input type="number" class="form-control" name = "idnum" id="idnum" ng-model = "idnumber" style="font-size: 18pt; width:250px;" required>
                  </div>
                    <div class="form-group">
                        <label for="position"> Position </label>
                        <input type="text" class="form-control" name = "position" id="position" ng-model = "position" style="font-size: 18pt; width:250px;" required>
                </div>
                  <div class="form-group">
                          <label for="email"> Email </label>
                          <input type="email" class="form-control" name = "email" id="email1" ng-model = "email" style="font-size: 18pt; width:250px;" required>
                  </div>
                  <div class="form-group">
                  <label for="number"> Phone Number </label><br>
                  <input type="tel" name = "numberpart1" id="numb1" ng-model = "countrycode" style="font-size: 18pt; width:50px;" placeholder="+27"> 
                   - <input type="tel" name = "number" id="num1" ng-model = "telnumber" style="font-size: 18pt; width:180px;"
                     pattern="[0-9]{9}" required> 
                  </div>

                  <div class="form-group">
                    Choose Gender<br>
                  <label class="form-group" for="check1">
                    <input type="checkbox" class="form-group" id="check1" name="vehicle1" value="Male" ng-model = "check1" id="defaultUnchecked"> Male
                  </label>
                  <label class="form-group" for="check1">
                    <input type="checkbox" class="form-group" id="check1" name="vehicle1" value="Female" ng-model = "check2" id="defaultUnchecked"> Female
                  </label>
                  <label class="form-group" for="check1">
                    <input type="checkbox" class="form-group" id="check1" name="vehicle1" value="Other" ng-model = "check3" id="defaultUnchecked"> Other
                  </label>
                </div>
                <div class="form-group">
                    <label for="pwd">Password</label>
                    <input type="password" class="form-control" name = "pas1" id="pwd" ng-model = "password" style="font-size: 18pt; width:250px;" required>
                  </div>
                  <div class="form-group">
                          <label for="pwd2">Confirm Password</label>
                          <input type="password" class="form-control" name = "pas2" id="pwd2" ng-model = "password2" style="font-size: 18pt; width:250px;" required>
                    </div>
                  <button type="button" ng-click = "CreateAccount()" class="btn btn-primary"> Create </button>
                  <button type="button" ng-click = "GoBack()" class="btn btn-primary"> cancel </button>
                </div>
            </div>
          </div>

</div><br><br><br><br><br><br>
    </div>