     <div class="container">
          <div class="row">

              <div class="col-md-4"></div>
            
              <div class="col-md-4">
          <h3></h3>
          <div class="card" id = "chat">
            <div class="card-body" align ="left">
            <strong> Office Automation </strong>
                  <hr> <br>
                <form>
                 <div><button type="button" class="btn btn-primary"> Open Door </button> &nbsp; &nbsp; <button type="button" class="btn btn-primary"> Close Door </button>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong> {{status}} </strong> </div><br>
                  <div><button type="button" class="btn btn-primary"> Open Window </button> &nbsp; &nbsp; <button type="button" class="btn btn-primary"> Close Window </button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong> {{status}} </strong> </div><br>
                  <div><button type="button" class="btn btn-primary"> Turn On Light</button> &nbsp; &nbsp; <button type="button" class="btn btn-primary">Turn Off Light</button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong> {{status}} </strong> </div><br>
                  <div><button type="button" class="btn btn-primary">Open Everything </button> &nbsp; &nbsp; <button type="button" class="btn btn-primary"> Close Everything </button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong> {{status}} </strong> </div><br>
  
                </form>
    
            </div> 
          </div>
        </div>
        <div class="col-md-4"></div>
</div><br><br><br><br><br><br>
    </div>