     <div class="container">
          <div class="row">

              <div class="col-md-4"></div>
            
              <div class="col-md-4">
          <h3></h3>
          <div class="card" id = "chat">
            <div class="card-body" align ="left">
                <strong> Login To Progress Control System </strong><br><br>
                <form>
                  <div class="form-group">
                      <a href = "#!/create"> create account </a> &nbsp; &nbsp;&nbsp;  <a href = "#!/forgot"> forgot password </a><br>
                    <label for="email">Email address:</label>
                    <input type="email" ng-model = "email" class="form-control" id="email">
                  </div>
                  <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" ng-model = "password" class="form-control" id="pwd">
                  </div>
                  <div class="form-group form-check">
                  </div>
                  <button type="submit" ng-click = "logIN()" class="btn btn-primary">Submit</button>
                </form>
    
            </div> 
          </div>
        </div>
        <div class="col-md-4"></div>
</div><br><br><br><br><br><br>
    </div>
