<div class="container">
  <div class="row">

      <div class="col-md-16"></div>
    
      <div class="col-md-16">
  <h3></h3>
  <div class="card" id = "chat">
    <div class="card-body" align ="left">

        <strong> Approve leave for {{requesterName}} </strong><br><br>
        <form>
          <p> <b> LEAVE NOTE: </b> {{leaveNote}}</p> <br>
          <button type="button"  id= "primary" ng-click = "leaveApprove()" class="btn btn-primary"> Approve </button>
          <button type="button"  id= "primary" ng-click = "leaveReject()" class="btn btn-primary">Reject</button>
        </form>

    </div> 
  </div>
</div>
<div class="col-md-4"></div>
</div><br><br><br><br><br><br>
</div>
<!--
                <strong><h3> {{leaveType}} leave approved for </strong></h3>
                <h4>  {{requesterName}} </h4> -->
                              